BODY{
	color: White;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.INTERFACE{
	height: 100%;
	width: 75%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	left: 0;
	background-color: rgba(50, 50, 50, 1);
	margin-bottom: 100px;
}
.SIDEBAR{
	height: 100%;
	width: 25%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	right: 0;
	background-color: rgba(30, 30, 30, 1);
}
.CENTER{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}
.ACCORDION{
	background-color: rgba(75, 75, 75, 1);
	cursor: pointer;
	padding: 18px;
	width: 800px;
	border: none;
	outline: none;
	transition: 0.25s;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.ACTIVEACCORDION, .ACCORDION:HOVER {
	background-color: rgba(125, 125, 125, 1);
}
.PANEL{
	padding: 18px;
	background-color: rgba(100, 100, 100, 1);
	display: none;
	overflow: hidden;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.TABLINKS {
	background-color: rgba(75, 75, 75, 1);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 150px;
	font-weight: bold;
	font-size: 18px;
	color: white;
	border-style: none;
	cursor: pointer;
}
.ACTIVEAGE {
	background-color: rgba(125, 125, 125, 1);
}
.HIDDEN {
	display: none;
}
INPUT {
	width: 50px;
}
.ADDBUTTON{
	background-color: rgba(75, 75, 75, 1);
	cursor: pointer;
	padding: 3px;
	width: 75px;
	border: none;
	outline: none;
	transition: 0.25s;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.ADDBUTTON:HOVER {
	background-color: rgba(125, 125, 125, 1);
}