BODY {
	background-color: rgba(25, 25, 25, 1);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	Color: White;
}
BUTTON {
	width: 75px;
	background-color: rgba(25, 25, 25, 1);
	border-style: solid;
	border-width: 2px;
	border-color: White;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 3px;
	transition-duration: 0.3s;
	color: White;
	font-size: 15px;
}
BUTTON:hover {
	background-color: rgba(175, 175, 175, 1);
	color: Black;
}
.BUILDBUTTON{
	width: 150px;
}
#ARCHB{
	background-color: rgba(100, 0, 0, 1);
}
INPUT {
	width: 50px;
}
.TABLINKS{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	width: 150px;
	font-weight: bold;
	font-size: 18px;
	display: none;
}
.HIDDEN{
	display: none;
}
.ACTIVE {
	border-color: White;
	border-style: solid;
	border-width: 2px;
}