BODY {
	background-color: Black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	Color: White;
}
BUTTON {
	width: 75px;
	background-color: Black;
	border-style: solid;
	border-width: 2px;
	border-color: White;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 3px;
	transition-duration: 0.2s;
	color: White;
	font-size: 15px;
}
BUTTON:hover {
	background-color: rgba(200, 200, 200, 1);
	color: White;
}
#BuildButton.BUTTON{
	width: 150px;
}
.TABLINKS {
	width: 150px;
	font-weight: bold;
	font-size: 18px;
}
INPUT {
	width: 50px;
}